# Table of Contents
- Importing Libraries
- Importing Data
- Merging Your Instacart Data
  - Export Syntax
- 4.6 Task
  - Task 2

# 01. Importing Libraries

In [6]:
# Import pandas, NumPy, and os libraries.
import pandas as pd
import numpy as np
import os

# 02. Importing Data

In [11]:
path = r'C:\Users\nrsmi\OneDrive\Documents\CareerFoundry\06-2024 Instacart Basket Analysis\Python\06-2024 Instacart Basket Analysis'
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_clean.csv'), index_col = False)
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_clean.csv'), index_col = False)
df_ords_prior = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'orders_products_prior.csv'), index_col = False)

# Merging Your Instacart Data

In [14]:
# check the output
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [18]:
df_ords_prior.shape

(32434489, 4)

In [20]:
df_ords.shape

(3421083, 8)

In [46]:
# merge df_ords and df_ords_prior

df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', how = 'inner', indicator = True)

In [50]:
df_merged_large.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,0,2539329,1,1,2,8,NaN,196,1,0,both
1,0,0,2539329,1,1,2,8,NaN,14084,2,0,both
2,0,0,2539329,1,1,2,8,NaN,12427,3,0,both
3,0,0,2539329,1,1,2,8,NaN,26088,4,0,both
4,0,0,2539329,1,1,2,8,NaN,26405,5,0,both

In [52]:
df_merged_large['_merge'].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

In [48]:
df_merged_large.shape

(32434489, 12)

### Export syntax

In [54]:
# Export data to csv

# df_merged_large.to_csv(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.csv'))

# Export data to pkl

# df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))

# Task

#### 2. Export the merged file in pickle format as “orders_products_combined.pkl”

In [59]:
df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))